# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
.Python
env/
venv/
assets/
krish/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python test output
nosetests.xml
coverage.xml
*.cover
*.log


# Pytest
.cache
